<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soumyajit's Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/png" href="/images/portfolio.png" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#certifications">Certifications</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <!-- Sections -->
    <div class="sections">
      {{>home}}
      {{>about}}
      {{>certification}}
      {{>projects}}
      {{>contact}}
    </div>

    <!-- Theme Toggle Button -->
    <button class="theme-toggle">
      <img src="/images/night.png" alt="Theme Icon" class="theme-icon" />
    </button>

    <script src="/js/script.js"></script>
  </body>
</html>