<section id="certifications" class="section">
  <div class="content">
    <h1>Certifications</h1>
    <!-- Main Certificate Display -->
    <div class="highlighted-cert">
      <img
        src="/images/certificate1.jpg"
        alt="Highlighted Certificate"
        class="highlighted-cert-img"
      />
      <div class="highlighted-cert-details">
        <h2>Advanced JavaScript</h2>
        <p>
          Certification in Advanced JavaScript Techniques covering modern ES6+
          features and best practices.
        </p>
        <a
          href="https://example.com/certificates/javascript"
          target="_blank"
          class="btn"
        >
          View Full Certificate
        </a>
      </div>
    </div>

    <!-- Thumbnails Carousel -->
    <div class="cert-carousel">
      <div class="cert-thumbnail" data-cert="1">
        <img
          src="/images/certificate1-thumb.jpg"
          alt="Advanced JavaScript"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="2">
        <img
          src="/images/certificate2-thumb.jpg"
          alt="Machine Learning"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="3">
        <img
          src="/images/certificate3-thumb.jpg"
          alt="Web Development"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="1">
        <img
          src="/images/certificate1-thumb.jpg"
          alt="Advanced JavaScript"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="2">
        <img
          src="/images/certificate2-thumb.jpg"
          alt="Machine Learning"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="3">
        <img
          src="/images/certificate3-thumb.jpg"
          alt="Web Development"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="1">
        <img
          src="/images/certificate1-thumb.jpg"
          alt="Advanced JavaScript"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="2">
        <img
          src="/images/certificate2-thumb.jpg"
          alt="Machine Learning"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="3">
        <img
          src="/images/certificate3-thumb.jpg"
          alt="Web Development"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="1">
        <img
          src="/images/certificate1-thumb.jpg"
          alt="Advanced JavaScript"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="2">
        <img
          src="/images/certificate2-thumb.jpg"
          alt="Machine Learning"
          class="carousel-img"
        />
      </div>
      <div class="cert-thumbnail" data-cert="3">
        <img
          src="/images/certificate3-thumb.jpg"
          alt="Web Development"
          class="carousel-img"
        />
      </div>
    </div>
    <div class="scroll-indicator">
      <span>&#x2193;</span>
    </div>
  </div>
</section>