<section id="certifications" class="section">
  <div class="content">
    <h1>Certifications</h1>
    <!-- Main Certificate Display -->
    <div class="highlighted-cert">
      <img src="" alt="Highlighted Certificate" class="highlighted-cert-img" />
      <div class="highlighted-cert-details">
        <h2></h2>
        <p></p>
        <a href="" target="_blank" class="btn">
          View Full Certificate
        </a>
      </div>
    </div>

    <!-- Thumbnails Carousel -->
    <div class="cert-carousel" id="cert-carousel"></div>

  </div>
</section>