<section id="contact" class="section">
  <div class="content">
    <h1>Contact Me</h1>
    <p>Let's connect and build something amazing together! You can reach me at:</p>
    <ul class="contact-links">
      <li>
        <a href="https://www.linkedin.com/in/soumo-jeet/" target="_blank">
          <img src="images/linkedin.png" alt="LinkedIn" class="contact-icon" />
        </a>
      </li>
      <li>
        <a href="https://github.com/soumojeet" target="_blank">
          <img src="images/github.png" alt="GitHub" class="contact-icon" />
        </a>
      </li>
      <li>
        <a href="mailto:soumyajit.chowdhury2k@gmail.com">
          <img src="images/email.png" alt="Email" class="contact-icon" />
        </a>
      </li>
    </ul>
  </div>
</section>